.largetitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.headline {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.caption {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
