:root {
    --Grayscale-Grayscale-10: hsla(206, 6.1%, 22.5%, 1);
    --Grayscale-Grayscale-20: hsla(240, 4.1%, 42.9%, 1);
    --Grayscale-Grayscale-30: hsla(240, 4.8%, 54.7%, 1);
    --Grayscale-Grayscale-40: hsla(0, 0%, 67.1%, 1);
    --Grayscale-Grayscale-50: hsla(216, 14.3%, 93.1%, 1);
    --Grayscale-Grayscale-60: hsla(216, 33.3%, 97.1%, 1);
    --Grayscale-Grayscale-70: hsla(0, 0%, 100%, 1);
    --Colors-Red: hsla(0, 69.7%, 53.3%, 1);
    --Colors-Red-Darker: hsla(0, 68.1%, 41.8%, 1);
    --Colors-Green: hsla(164, 100%, 36.1%, 1);
    --Colors-Green-Week: hsla(164, 51.5%, 73.3%, 1);
    --Colors-Green-Darker: hsla(164, 61.1%, 37.3%, 1);
    --Surface-Dim: hsla(0, 0%, 0%, 0.20000000298023224);
}
